# Игнорировать папку Library
Lab1/Library/

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать временные файлы операционных систем
*.tmp

Lab1/Packages/com.ptc.vuforia.engine-10.25.4.tgz